.body, .html {
    max-width: 60%;
    height: 100%;
    overflow-y: hidden;

}

.body::-webkit-scrollbar {
  display: none;
}

.html::-webkit-scrollbar {
  display: none;
}

#allalbum__title_container {
    position: fixed;
    left: 24rem;
    top: 7rem;
}

#allbum_library {
    font-size: 40px;
    color: white;
    text-decoration: underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.2s;
}


/* #allbum_holder {
    height: 80%;
    margin-top: 6rem;
    margin-bottom: -30rem;
} */

#allalbums {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 1;     
    margin-left: -0.5rem;
    overflow-y: auto;
    transform: translateX(-30%);
    width: 100vh;
    height: 100vh;
}

#allalbums::-webkit-scrollbar {
  display: none;
}

#allbums__content {
    position: relative;
    left: 28rem;
    top: 8rem;
    height: 80%;
    padding-bottom: 1rem
}

#allalbum__coverart {
    margin-top: 5.5rem;
    margin-left: 2rem;
    width: 250px;
    height: 250px;
    box-shadow: 5px 5px 5px #414141;
    border-radius: 4px;
}

#allalbum_name {
    font-size: 25px;
    position: absolute;
    color: white;
    margin-left: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 0.5rem;
}
