

.html::-webkit-scrollbar {
  display: none;
}

.main_container {
    max-width: 1004px;
    min-height: 921px;
}

.main_container::-webkit-scrollbar {
  display: none;
}


.mysongs {
    color: white;
    position: fixed;
    left: 16rem;
    top: 14%;
    margin-bottom: 25%;
}

.line_song1 {
    color: white;
    position: fixed;
    left: 16rem;
    top: 20%;
    color: #cf6b28;
}


.songs_contain {
    display: block;
    position: fixed;
    margin-top: 13rem;
    margin-left: 15rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    font-size: 25px;
    border: 0px solid;
    width: 900px;
    height: 500px;
    color: white;
}

.songs_contain::-webkit-scrollbar {
  display: none;
}



table, th, td {
  border-top: 1px solid #2e2e2e;
  border-bottom: 1px solid #2e2e2e;
  border-collapse: collapse;
  width: 910px;
  padding: 5px 5px 5px 5px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.play {
    position: fixed;
    margin-top: 13px;
    margin-left: -60px;
}

.plus {
    position: fixed;
    margin-top: 10px;
    margin-left: -30px;
}

.add_to_playlist {
  position: fixed;
    margin-top: 10px;
    margin-left: 10px;
}

.song_artistName {
    position: absolute;
    margin-top: 10px;
    color: #cf6b28;
    font-size: 18px;
}