.body, .html {
    max-width: 784px;
    max-height: 921px
}

.uploadForms {
    background-color: rgb(59, 59, 59);
    position: absolute;
    top: 50%;
    left: 60%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 7rem 10rem 4rem 10rem;
    display: inline-block;
    min-width: 100px;
    margin: auto;
}

.title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    position: absolute;
    font-size: 35px;
    top: 13%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.inputs {
    display: block;
    width: 280px;
    height: 400px;
}


input[type="file"] {
    border: 1px solid #cf6b28;
    border-radius: 4px;
    width: 15rem;
    height: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    position: absolute;
    margin-left: 17px;
}

.songName {
    background-color : #cf6b28; 
    border: 1px solid #cf6b28;
    border-radius: 4px;
    margin-bottom: 1rem;
    width: 15rem;
    height: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin-top: 2rem;
}

.albumImage {
    /* background-color : #cf6b28;  */
    border: 1px solid #cf6b28;
    border-radius: 4px;
    margin-bottom: 1rem;
    width: 15rem;
    height: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white
}

.submit {
    position: relative;
    left: 22%;
    width: 10rem;
    height: 2rem;
    margin-top: 4rem;
    color: #cf6b28;
    border: 1px solid #cf6b28;
    background-color: #2e2e2e;
    border-radius: 4px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}