.body, .html {
    max-width: 784px;
    max-height: 921px
}

.uploadForms {
    background-color: rgb(59, 59, 59);
    position: absolute;
    top: 50%;
    left: 60%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 7rem 10rem 4rem 10rem;
    display: inline-block;
    min-width: 100px;
    margin: auto;
}

.title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    position: absolute;
    font-size: 35px;
    top: 12%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.inputs {
    display: block;
    width: 280px;
    height: 400px;
}

.songfile::-webkit-file-upload-button {
  visibility: hidden;
}

.songfile {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.songFile {
    border: 1px solid #cf6b28;
    background-color: #cf6b28;
    border-radius: 4px;
    width: 15.25rem;
    height: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1f1f1f;
    position: absolute;
    margin-left: 17px;
    text-align:justify;
    transition: all 0.2s ease-in-out;
}

.songFile:hover {
    transform: scale(1.05);
}

.upload {
    margin-left: 5rem;
    margin-top: 0.25rem;
}

.songName {
    background-color : #cf6b28; 
    border: 1px solid #cf6b28;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    width: 15rem;
    height: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin-top: 2rem;
    margin-left: 1rem;
}

.artistArea {
    background-color : #cf6b28; 
    border: 1px solid #cf6b28;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    width: 15rem;
    height: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin-top: -1rem;
    margin-left: 1rem;
}

.artistImage1::-webkit-file-upload-button {
  visibility: hidden;
}


.artistImage1 {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.artistImageArt {
    position: absolute;
    border: 1px solid #cf6b28;
    background-color: #cf6b28;
    border-radius: 4px;
    width: 15.25rem;
    height: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1f1f1f;
    margin-left: 17px;
    margin-bottom: 2rem;
    transition: all 0.2s ease-in-out;
    margin-top: -0.5rem;
}

.artistImageArt:hover {
    transform: scale(1.05);
}

.upload1 {
    margin-left: 3.4rem;
    margin-top: 0.25rem;
}

.albumArea {
    position: relative;
    border: 1px solid #cf6b28;
    background-color: #cf6b28;
    border-radius: 4px;
    width: 15rem;
    height: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1f1f1f;
    margin-left: 17px;
    transition: all 0.2s ease-in-out;
    margin-top: 1.5rem;
}

.albumImageUpload::-webkit-file-upload-button {
  visibility: hidden;
}

.albumImageUpload {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.albumImage {
    border: 1px solid #cf6b28;
    background-color: #cf6b28;
    border-radius: 4px;
    width: 15.25rem;
    height: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1f1f1f;
    position: absolute;
    margin-left: 17px;
    text-align:justify;
    transition: all 0.2s ease-in-out;
}

.albumImage:hover {
    transform: scale(1.05);
}


.submit {
    position: relative;
    left: 22%;
    width: 10rem;
    height: 2rem;
    margin-top: 5rem;
    color: #cf6b28;
    border: 1px solid #cf6b28;
    background-color: #2e2e2e;
    border-radius: 4px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}