body{
    background-color: rgb(59, 59, 59);
    
}

.login_contain {
    background-color: rgb(59, 59, 59);
    position: absolute;
    top: 50%;
    left: 60%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 8rem 10rem 8rem 10rem;
    display: block;
}

.username,
.password_login {
    background-color : #cf6b28; 
    border: 1px solid #cf6b28;
    border-radius: 4px;
    margin-left: 15px;
    margin-bottom: 1rem;
    width: 15rem;
    height: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white
}

/* .password_login {
    background-color : #cf6b28; 
    border: 1px solid #cf6b28;
    border-radius: 4px;
    margin-left: 15px;
    margin-bottom: 1rem;
    width: 15rem;
    height: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white
} */

.login {
    position: relative;
    color: #cf6b28;
    left: 20%;
    width: 10rem;
    height: 2rem;
    margin-top: 1rem;
    border: 1px solid #cf6b28;
    background-color: #2e2e2e;
    border-radius: 4px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.demoSubmitButton {
    position: relative;
    color: #cf6b28;
    left: 20%;
    width: 10rem;
    height: 2rem;
    margin-top: 1rem;
    border: 1px solid #cf6b28;
    background-color: #2e2e2e;
    border-radius: 4px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.not {
    color: white;
    position: relative;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}