body{
    background-color: #1f1f1f;
}

.logo {
    max-width: 80px;
    max-height: 80px;
    min-width: 80px;
    min-height: 80px;
    transform: rotate(20deg);
    position: absolute;
}

.music {
    position: absolute;
    overflow: hidden;
    top: 1%;
    left: 8%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 35px;
}

.form_container {
    background-color: rgb(59, 59, 59);
    position: absolute;
    top: 50%;
    left: 60%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 8rem 12rem 8rem 12rem;
}

.title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    position: absolute;
    font-size: 35px;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.name,
.username_signup,
.email,
.password {
    background-color : #cf6b28; 
    border: 1px solid #cf6b28;
    border-radius: 4px;
    margin-bottom: 1rem;
    width: 15rem;
    height: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white
}

.signup {
    position: relative;
    left: 22%;
    width: 10rem;
    height: 2rem;
    margin-top: 1rem;
    color: #cf6b28;
    border: 1px solid #cf6b28;
    background-color: #2e2e2e;
    border-radius: 4px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.option {
    color: white;
    position: relative;
    left: 12%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}