
.title_library {
    color: white;
    position: absolute;
    left: 4%;
    top: -15%;
}

.line_library {
    color: white;
    position: absolute;
    left: 3%;
    top: -2%;
    color: #cf6b28;
}
/* 
.home_items {
    border-top: 1px solid white;
} */

.albums_container {
    display: flex;
    position: fixed;
    margin-top: 10rem;
    margin-left: 15rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.coverart {
    width: 400px;
    height: 400px;
    padding: 2rem 2rem 2rem 2rem;
}

.name {
    font-size: 25px;
    position: absolute;
    color: white;
    margin-left: 2.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -1.5rem;
}
