
.artists_title {
    color: white;
    position: absolute;
    left: 4%;
    top: -2%;
    margin-bottom: 25%;
}

.line {
    color: white;
    position: absolute;
    left: 3%;
    top: 5%;
    color: #cf6b28;
}

.artist_items {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    margin-top: 1rem;
    margin-bottom: -350px;

}

.artists_container {
    display: flex;
    position: fixed;
    margin-top: 8rem;
    margin-left: 15rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}

.artist_img {
    width: 400px;
    height: 400px;
    padding: 4rem 2rem 2rem 4rem;
}

.artist_name {
    font-size: 25px;
    position: absolute;
    color: white;
    margin-left: 4rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -1.5rem;
}
