.playlist_container {
    display: flex;
    position: fixed;
    margin-top: 1rem;
    margin-left: 6rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    max-width: 1004px;
    max-height: 921px;
    height: 100%;
    width: 100%
}

.playlist_container::-webkit-scrollbar {
  display: none;
}


.createPlaylist {
    position: absolute;
    top: 12.5%;
    left: 40%;
    margin: 1px 5px 1px 5px;
    background-color: #1a1a1a
}

.playlist_library {
    color: white;
    position: absolute;
    left: 20%;
    top: 10%;
    margin-bottom: 25%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.playlist_line{
    color: white;
    position: absolute;
    left: 20%;
    top: 17%;
    color: #cf6b28;
    margin-bottom: 1rem;
}

.playlist_holder {
    display: flex;
    height: 100%;
    margin-top: -5rem;
    margin-bottom: -35rem;
}

.contents_container {
    display: flex;
    position: fixed;
    flex-direction: row;
    top: 25%;
    left: 22.5%;
    flex-wrap: wrap;
    align-items: center;
    overflow-y: scroll;
    max-width: 1004px;
    min-height: 921px;
    height: 50%;
    margin-top: 0px;
}

.contents_container::-webkit-scrollbar {
  display: none;
}

.playlist_coverart {
    margin-left: 2rem;
    width: 250px;
    height: 250px;
    box-shadow: 5px 5px 5px #414141;
    border-radius: 4px;
    margin-top: -1rem;
}

.playlist_title {
    font-size: 25px;
    position: absolute;
    color: white;
    margin-left: 2.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 15.5rem;
}
