.audioPlayer {
    position: fixed;
    border: 1px solid #373737;
    background-color: #1a1a1a;
    /* display: inline; */
    top: -0.025rem;
    left: 14.45rem;
    height: 80px;
    width: 100%;
}

.button_container {
    position: absolute;
    left: 33%;
    top: 1.5rem;
    
}

.button_container > button {
    margin: 1px 5px 1px 5px;
    background-color: #1a1a1a
}