.media_player {
    position: fixed;
    top: 2%;
    left: 60%;
    margin-bottom: -30px;;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* width: 70rem; */
    /* border: 1px solid #cf6b28 */
}

.controls {
    color: #cf6b28;
}